<div>
  <ul class = "list-group users">
    <li *ngFor = "let user of users" 
    [class.active]="currentUser == user"
    (click) = "select(user)" 
    class = "list-group-item">
     <jce-user [user] = "user" > </jce-user>
    </li>
  </ul>
</div>